.character {
    padding: 20px 100px;
}
.character img {
    max-height: 300px;
    padding-right: 100px;
}
.character h2 {
    text-align: left;
    padding-left: 30px;
}

.inline-box {
    display: flex;
}
.inline-box p {
    width: 60%;
}