.map-item {
    position: absolute;
    cursor: pointer;
}


.map-item img {
    max-width: 300px;
    max-height: 200px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.map-item img:hover {
    transform: scale(1.03);
}

h3 {
    text-align: center;
    padding: 0;
    margin: 10px;
}