.App {
  text-align: center;
  font-family: "PT Serif";
  letter-spacing: 2px;
}
body {
    height: 100vh;
    background: rgb(56, 73, 92);
    color: white;
}
.back {
    position: relative;
    height: 600px;
    width: 100%;
}