.place {
    text-align: center;
    padding: 10px 25%;
}
.place h2 {
    text-align: center;
}
.place img {
    max-width: 500px;
    max-height: 300px;
}

.place p {
    text-align: left;
}

.like {
    text-align: right;
}
.like span button {
    cursor: pointer;
}
.back-btn {
    text-align: left;
}
.back-btn button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.back-btn a {
    text-decoration: none;
}