.place {
    text-align: center;
    padding: 10px 25%;
}
.place h2 {
    text-align: center;
}
.place img {
    max-width: 500px;
    max-height: 300px;
}

.place p {
    text-align: left;
}

.like {
    margin-top: 20px;
    text-align: right;
}
.like span button {
    cursor: pointer;
    height: 25px;
    border-radius: 3px;
}
.back-btn {
    text-align: left;
}
.back-btn button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.back-btn a {
    text-decoration: none;
}